body{
	font-family: 'Oswald', verdana; 
}
header{
	background-image: url("../images/tile1.png");
}
header ul {
	list-style-type: none;
	font-size: 15px;
	margin-left: 280px;
	font-weight: bold;
	padding: 20px;
}
header li{
	display: inline;
	padding: 40px;
}
.txt1{
	color: white;
	text-align: center;
	margin-top: 20px;
}
.logo{
	margin-left: 420px;
	margin-top: 35px;
}
h1{
	font-size: 40px;
}
.suno{
	width: 100%;
	height:300px;
	background-image: url("../images/background.jpg");
	background-size: 100%;
}
.aboutm, .favorite, h3{
	text-align: center;
	color: #d11aff;
	font-size:30px;
	margin-top: 50px;

}
.profile{
	height:180px; 
	width:180px;
	float: left;
	border:1px solid black;
}
li a{
	text-decoration: none;
	color: black;
}
.txtab{
	font-size: 13px;
}
h3{
	margin-top: 20px;
	font-size: 20px;
}
.cat{
	border-radius: 100px;
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
	border:3px solid #d11aff;
	padding: 5px;
}
.gatos{
	margin-left: 100px;
}
footer{
	background-image: url("../images/tile2.png");
	padding:20px;
}
.social{
	height: 120px;
	width: 120px;
	margin-left: 170px;
	margin-top: 30px;
}